In [234]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lag, date_format, concat_ws, to_timestamp, to_date, expr, StringType, collect_list, udf, join
from pyspark.sql.window import Window

spark = SparkSession.builder.appName("FB").getOrCreate()

df = spark.read.csv("C:/Users/ThinkPad/GitProjects/FootballPredictions/E0.csv", header=True, inferSchema=True)
df2 = spark.read.csv("C:/Users/ThinkPad/GitProjects/FootballPredictions/E0 (1).csv", header=True, inferSchema=True)
df3 = spark.read.csv("C:/Users/ThinkPad/GitProjects/FootballPredictions/E0 (2).csv", header=True, inferSchema=True)
df4 = spark.read.csv("C:/Users/ThinkPad/GitProjects/FootballPredictions/E0 (3).csv", header=True, inferSchema=True)

ImportError: cannot import name 'join' from 'pyspark.sql.functions' (c:\Python312\Lib\site-packages\pyspark\sql\functions.py)

In [ ]:
df.show(5)

+---+----------+-------------------+-----------+-------------+----+----+---+----+----+---+---------+---+---+---+---+---+---+---+---+---+---+---+---+-----+-----+-----+----+----+----+----+----+----+----+----+-----+----+---+----+----+----+----+----+----+----+----+----+-----+--------+--------+-----+-----+-------+-------+-------+-------+-----+-------+-------+----+----+------+------+------+------+------+------+------+----+----+----+----+----+----+----+----+-----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+---------+---------+------+------+--------+--------+--------+--------+-----+--------+--------+-----+-----+-------+-------+-------+-------+
|Div|      Date|               Time|   HomeTeam|     AwayTeam|FTHG|FTAG|FTR|HTHG|HTAG|HTR|  Referee| HS| AS|HST|AST| HF| AF| HC| AC| HY| AY| HR| AR|B365H|B365D|B365A| BWH| BWD| BWA| IWH| IWD| IWA| PSH| PSD|  PSA| WHH|WHD| WHA| VCH| VCD| VCA|MaxH|MaxD|MaxA|AvgH|AvgD| AvgA|B365>2.5|B365<2.5|P>2.5|P<2.5|Max>2.5|Max<2.5|Avg>2.5|Avg<2.5|  AHh|B365AHH|B365AHA|PAHH|PAHA|MaxAHH|MaxAHA|AvgAHH|AvgAHA|B365CH|B365CD|B365CA|BWCH|BWCD|BWCA|IWCH|IWCD|IWCA|PSCH|PSCD| PSCA|WHCH|WHCD|WHCA|VCCH|VCCD|VCCA|MaxCH|MaxCD|MaxCA|AvgCH|AvgCD|AvgCA|B365C>2.5|B365C<2.5|PC>2.5|PC<2.5|MaxC>2.5|MaxC<2.5|AvgC>2.5|AvgC<2.5| AHCh|B365CAHH|B365CAHA|PCAHH|PCAHA|MaxCAHH|MaxCAHA|AvgCAHH|AvgCAHA|
+---+----------+-------------------+-----------+-------------+----+----+---+----+----+---+---------+---+---+---+---+---+---+---+---+---+---+---+---+-----+-----+-----+----+----+----+----+----+----+----+----+-----+----+---+----+----+----+----+----+----+----+----+----+-----+--------+--------+-----+-----+-------+-------+-------+-------+-----+-------+-------+----+----+------+------+------+------+------+------+------+----+----+----+----+----+----+----+----+-----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+---------+---------+------+------+--------+--------+--------+--------+-----+--------+--------+-----+-----+-------+-------+-------+-------+
| E0|11/08/2023|2024-07-24 20:00:00|    Burnley|     Man City|   0|   3|  A|   0|   2|  A| C Pawson|  6| 17|  1|  8| 11|  8|  6|  5|  0|  0|  1|  0|  8.0|  5.5| 1.33|8.75|5.25|1.34| 8.0| 5.5|1.35|8.58|5.51| 1.37| 8.0|5.0|1.25| 9.5|5.25|1.33| 9.5|5.68|1.39|9.02|5.35| 1.35|    1.67|     2.2| 1.68| 2.29|   1.71|    2.4|   1.65|   2.27|  1.5|   1.86|   2.07|1.86|2.07|  1.93|  2.09|  1.85|  2.03|   9.0|  5.25|  1.33|8.75|5.25|1.33| 8.5|5.25|1.35|9.62|5.81| 1.33| 7.5| 4.6|1.29|10.5|5.25| 1.3| 10.5| 5.81| 1.36| 9.27| 5.45| 1.33|     1.67|      2.2|  1.65|  2.35|    1.73|    2.45|    1.64|    2.28|  1.5|    1.95|    1.98| 1.95| 1.97|   NULL|   NULL|   1.92|   1.95|
| E0|12/08/2023|2024-07-24 12:30:00|    Arsenal|Nott'm Forest|   2|   1|  H|   2|   0|  H| M Oliver| 15|  6|  7|  2| 12| 12|  8|  3|  2|  2|  0|  0| 1.18|  7.0| 15.0|1.17| 7.5|15.5| 1.2|7.25|14.0|1.18|7.86|15.67|1.12|6.5|12.0|1.14| 7.5|17.0|1.21| 8.5|17.5|1.18|7.64|15.67|    1.44|    2.75| 1.42| 2.93|   1.45|   2.98|   1.42|   2.85| -2.0|   1.88|   2.02|1.88|2.01|  1.91|  2.06|  1.87|  1.99|  1.18|   7.0|  15.0|1.18| 7.0|14.5| 1.2| 7.0|14.0|1.19| 8.0| 16.0|1.12| 6.5|12.0|1.22| 7.0|13.0| 1.22|  8.4| 19.0| 1.19| 7.43|15.98|      1.5|     2.63|  1.49|  2.65|    1.52|    2.79|    1.49|    2.63| -2.0|    1.95|    1.98| 1.93| 1.97|   2.01|   2.09|   1.95|   1.92|
| E0|12/08/2023|2024-07-24 15:00:00|Bournemouth|     West Ham|   1|   1|  D|   0|   0|  D| P Bankes| 14| 16|  5|  3|  9| 14| 10|  4|  1|  4|  0|  0|  2.7|  3.4| 2.55|2.65| 3.4|2.55| 2.7|3.45| 2.6| 2.7|3.47| 2.71|2.62|3.2| 2.3|2.63| 3.3|2.63| 2.8|3.62|2.75|2.69|3.44| 2.64|     1.9|     2.0|  1.9| 1.99|   1.95|   2.03|   1.88|   1.94|  0.0|   1.95|   1.95|1.95|1.95|  1.98|  1.99|  1.94|  1.92|  2.63|   3.5|   2.6|2.65| 3.5| 2.5| 2.6| 3.5| 2.6|2.75| 3.6| 2.63| 2.5| 3.2|2.45|2.63| 3.5| 2.6| 2.88| 3.67|  2.7|  2.7| 3.53| 2.59|     1.73|      2.1|  1.76|  2.18|    1.83|    2.23|    1.74|    2.12|  0.0|    2.02|    1.91| 2.01| 1.92|   2.06|   1.96|   1.96|   1.91|
| E0|12/08/2023|2024-07-24 15:00:00|   Brighton|        Luton|   4|   1|  H|   1|   0|  H|  D Coote| 27|  9| 12|  3| 11| 12|  6|  7|  2|  2|  0|  0| 1.33|  5.5|  9.0|1.32| 5.5| 9.0|1.35|5.25| 8.5|1.33|5.65| 9.61|1.25|4.6| 8.5|1.29|5.25|10.0|1.36| 6.0|10.5|1.33|5.52| 9.61|    1.62|     2.3| 1.62|  2.4|   1.65|   2.45|   1.61|   2.34| -1.5|   1.95|   1.95|1.95|1.95|  1.98|   2.0|  1.93|  1.93|  1.25|   6.5|  11.0|1.26| 6.0|11.0| 1.3| 5.5| 9.5|1.27|6.36|11.36|1.22| 5.5| 9.0|1.25|5.75|13.0| 1.34| 6.59| 13.0| 1.28| 5.99|10.91|     1.53|      2.5|  1.56|  2.54|    1.62|    2.66|    1.55|    2.48|-1.75|    2.01|    1.92|  2.0| 1.91|   2.14|   1.93|    2.0|   1.86|
| E0|12/08/2023|2024-07-24 15:00:00|    Everton|       Fulham|   0|   1|  A|   0|   0|  D|S Attwell| 19|  9|  9|  2| 12|  6| 10|  4|  0|  2|  0|  0|  2.2|  3.4|  3.3| 2.2| 3.4|3.25|2.25| 3.4|3.25|2.27|3.45| 3.35| 2.1|3.2| 3.0| 2.2| 3.3|3.25| 2.3|3.57|3.45|2.24|3.43|  3.3|    2.01|    1.89|  2.0| 1.89|   2.04|   1.92|   1.97|   1.86|-0.25|   1.93|   1.97|1.95|1.95|  1.97|   2.0|  1.92|  1.93|   2.3|   3.2|   3.2|2.35| 3.2| 3.1|2.35|3.25|3.15|2.39|3.32|  3.3| 2.1| 3.2| 3.0|2.38| 3.2| 3.2| 2.42| 3.42| 3.56| 2.32| 3.28| 3.27|      2.1|     1.73|  2.23|  1.72|    2.26|    1.81|    2.17|    1.71|-0.25|    2.06|    1.87| 2.04| 1.88|   2.08|   1.99|   1.98|   1.88|
+---+----------+-------------------+-----------+-------------+----+----+---+----+----+---+---------+---+---+---+---+---+---+---+---+---+---+---+---+-----+-----+-----+----+----+----+----+----+----+----+----+-----+----+---+----+----+----+----+----+----+----+----+----+-----+--------+--------+-----+-----+-------+-------+-------+-------+-----+-------+-------+----+----+------+------+------+------+------+------+------+----+----+----+----+----+----+----+----+-----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+---------+---------+------+------+--------+--------+--------+--------+-----+--------+--------+-----+-----+-------+-------+-------+-------+
only showing top 5 rows

In [ ]:
df = df.union(df2)
df = df.union(df3)
df = df.union(df4)

In [ ]:
df = df.drop("Div")
df = df.select("Date", "Time", "HomeTeam", "AwayTeam", "FTHG", "FTAG", "FTR", "HTHG", "HTAG", "HTR", "Referee", "HS", "AS", "HST", "AST", "HF", "AF", "HC", "AC", "HY", "AY", "HR", "AR")

In [ ]:
dfHome = df.select(col("Time"), col("HomeTeam").alias("Team"), col("FTR"))
dfAway = df.select(col("Time"), col("AwayTeam").alias("Team"), col("FTR"))

dfForm = dfHome.union(dfAway).orderBy("Time")
dfForm = dfForm.select("Time", "Team", "FTR")

#Last 5 game results for the home team
window_spec = Window.partitionBy("Team").orderBy("Time").rowsBetween(Window.unboundedPreceding, Window.currentRow)

dfForm = dfForm.withColumn("results_list", collect_list("FTR").over(window_spec))

dfForm.createOrReplaceTempView("games")
query = """
SELECT *,
    CASE 
        WHEN size(results_list) >= 5 THEN concat_ws('', slice(results_list, size(results_list) - 4, 5))
        ELSE concat_ws('', results_list)
    END AS TeamForm
FROM games
"""

dfForm = spark.sql(query)
dfForm = dfForm.drop("results_list")

df = df.join(dfForm.withColumnRenamed("Team", "HomeTeam").withColumnRenamed("TeamForm", "HomeTeamForm"),
             on=[df.HomeTeam == dfForm.Team, df.Time == dfForm.Time], how="left")

df = df.join(dfForm.withColumnRenamed("Team", "AwayTeam").withColumnRenamed("TeamForm", "AwayTeamForm"),
             on=[df.AwayTeam == dfForm.Team, df.Time == dfForm.Time], how="left")

dfForm.show()

AnalysisException: [MISSING_ATTRIBUTES.RESOLVED_ATTRIBUTE_MISSING_FROM_INPUT] Resolved attribute(s) "Team" missing from "Date", "Time", "HomeTeam", "AwayTeam", "FTHG", "FTAG", "FTR", "HTHG", "HTAG", "HTR", "Referee", "HS", "AS", "HST", "AST", "HF", "AF", "HC", "AC", "HY", "AY", "HR", "AR", "Time", "HomeTeam", "FTR", "HomeTeamForm" in operator !Join RightOuter, ((HomeTeam#89101 = Team#90975) AND (Time#91441 = Time#91441)). ;
!Join RightOuter, ((HomeTeam#89101 = Team#90975) AND (Time#91441 = Time#91441))
:- Project [Date#89099, Time#89100, HomeTeam#89101, AwayTeam#89102, FTHG#89103, FTAG#89104, FTR#89105, HTHG#89106, HTAG#89107, HTR#89108, Referee#89109, HS#89110, AS#89111, HST#89112, AST#89113, HF#89114, AF#89115, HC#89116, AC#89117, HY#89118, AY#89119, HR#89120, AR#89121]
:  +- Project [Date#89099, Time#89100, HomeTeam#89101, AwayTeam#89102, FTHG#89103, FTAG#89104, FTR#89105, HTHG#89106, HTAG#89107, HTR#89108, Referee#89109, HS#89110, AS#89111, HST#89112, AST#89113, HF#89114, AF#89115, HC#89116, AC#89117, HY#89118, AY#89119, HR#89120, AR#89121, B365H#89122, ... 81 more fields]
:     +- Union false, false
:        :- Relation [Div#89098,Date#89099,Time#89100,HomeTeam#89101,AwayTeam#89102,FTHG#89103,FTAG#89104,FTR#89105,HTHG#89106,HTAG#89107,HTR#89108,Referee#89109,HS#89110,AS#89111,HST#89112,AST#89113,HF#89114,AF#89115,HC#89116,AC#89117,HY#89118,AY#89119,HR#89120,AR#89121,... 82 more fields] csv
:        :- Relation [Div#89327,Date#89328,Time#89329,HomeTeam#89330,AwayTeam#89331,FTHG#89332,FTAG#89333,FTR#89334,HTHG#89335,HTAG#89336,HTR#89337,Referee#89338,HS#89339,AS#89340,HST#89341,AST#89342,HF#89343,AF#89344,HC#89345,AC#89346,HY#89347,AY#89348,HR#89349,AR#89350,... 82 more fields] csv
:        :- Relation [Div#89556,Date#89557,Time#89558,HomeTeam#89559,AwayTeam#89560,FTHG#89561,FTAG#89562,FTR#89563,HTHG#89564,HTAG#89565,HTR#89566,Referee#89567,HS#89568,AS#89569,HST#89570,AST#89571,HF#89572,AF#89573,HC#89574,AC#89575,HY#89576,AY#89577,HR#89578,AR#89579,... 82 more fields] csv
:        +- Relation [Div#89785,Date#89786,Time#89787,HomeTeam#89788,AwayTeam#89789,FTHG#89790,FTAG#89791,FTR#89792,HTHG#89793,HTAG#89794,HTR#89795,Referee#89796,HS#89797,AS#89798,HST#89799,AST#89800,HF#89801,AF#89802,HC#89803,AC#89804,HY#89805,AY#89806,HR#89807,AR#89808,... 82 more fields] csv
+- Project [Time#91441, HomeTeam#91429, FTR#91446, TeamForm#91419 AS HomeTeamForm#91434]
   +- Project [Time#91441, Team#90975 AS HomeTeam#91429, FTR#91446, TeamForm#91419]
      +- Project [Time#91441, Team#90975, FTR#91446, TeamForm#91419]
         +- Project [Time#91441, Team#90975, FTR#91446, results_list#91414, CASE WHEN (size(results_list#91414, true) >= 5) THEN concat_ws(, slice(results_list#91414, (size(results_list#91414, true) - 4), 5)) ELSE concat_ws(, results_list#91414) END AS TeamForm#91419]
            +- SubqueryAlias games
               +- View (`games`, [Time#91441,Team#90975,FTR#91446,results_list#91414])
                  +- Project [Time#91441, Team#90975, FTR#91446, results_list#91414]
                     +- Project [Time#91441, Team#90975, FTR#91446, results_list#91414, results_list#91414]
                        +- Window [collect_list(FTR#91446, 0, 0) windowspecdefinition(Team#90975, Time#91441 ASC NULLS FIRST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS results_list#91414], [Team#90975], [Time#91441 ASC NULLS FIRST]
                           +- Project [Time#91441, Team#90975, FTR#91446]
                              +- Project [Time#91441, Team#90975, FTR#91446]
                                 +- Sort [Time#91441 ASC NULLS FIRST], true
                                    +- Union false, false
                                       :- Project [Time#91441, HomeTeam#91442 AS Team#90975, FTR#91446]
                                       :  +- Project [Date#91440, Time#91441, HomeTeam#91442, AwayTeam#91443, FTHG#91444, FTAG#91445, FTR#91446, HTHG#91447, HTAG#91448, HTR#91449, Referee#91450, HS#91451, AS#91452, HST#91453, AST#91454, HF#91455, AF#91456, HC#91457, AC#91458, HY#91459, AY#91460, HR#91461, AR#91462]
                                       :     +- Project [Date#91440, Time#91441, HomeTeam#91442, AwayTeam#91443, FTHG#91444, FTAG#91445, FTR#91446, HTHG#91447, HTAG#91448, HTR#91449, Referee#91450, HS#91451, AS#91452, HST#91453, AST#91454, HF#91455, AF#91456, HC#91457, AC#91458, HY#91459, AY#91460, HR#91461, AR#91462, B365H#91463, ... 81 more fields]
                                       :        +- Union false, false
                                       :           :- Relation [Div#91439,Date#91440,Time#91441,HomeTeam#91442,AwayTeam#91443,FTHG#91444,FTAG#91445,FTR#91446,HTHG#91447,HTAG#91448,HTR#91449,Referee#91450,HS#91451,AS#91452,HST#91453,AST#91454,HF#91455,AF#91456,HC#91457,AC#91458,HY#91459,AY#91460,HR#91461,AR#91462,... 82 more fields] csv
                                       :           :- Relation [Div#91545,Date#91546,Time#91547,HomeTeam#91548,AwayTeam#91549,FTHG#91550,FTAG#91551,FTR#91552,HTHG#91553,HTAG#91554,HTR#91555,Referee#91556,HS#91557,AS#91558,HST#91559,AST#91560,HF#91561,AF#91562,HC#91563,AC#91564,HY#91565,AY#91566,HR#91567,AR#91568,... 82 more fields] csv
                                       :           :- Relation [Div#91651,Date#91652,Time#91653,HomeTeam#91654,AwayTeam#91655,FTHG#91656,FTAG#91657,FTR#91658,HTHG#91659,HTAG#91660,HTR#91661,Referee#91662,HS#91663,AS#91664,HST#91665,AST#91666,HF#91667,AF#91668,HC#91669,AC#91670,HY#91671,AY#91672,HR#91673,AR#91674,... 82 more fields] csv
                                       :           +- Relation [Div#91757,Date#91758,Time#91759,HomeTeam#91760,AwayTeam#91761,FTHG#91762,FTAG#91763,FTR#91764,HTHG#91765,HTAG#91766,HTR#91767,Referee#91768,HS#91769,AS#91770,HST#91771,AST#91772,HF#91773,AF#91774,HC#91775,AC#91776,HY#91777,AY#91778,HR#91779,AR#91780,... 82 more fields] csv
                                       +- Project [Time#90985, AwayTeam#90987 AS Team#90979, FTR#90990]
                                          +- Project [Date#90984, Time#90985, HomeTeam#90986, AwayTeam#90987, FTHG#90988, FTAG#90989, FTR#90990, HTHG#90991, HTAG#90992, HTR#90993, Referee#90994, HS#90995, AS#90996, HST#90997, AST#90998, HF#90999, AF#91000, HC#91001, AC#91002, HY#91003, AY#91004, HR#91005, AR#91006]
                                             +- Project [Date#90984, Time#90985, HomeTeam#90986, AwayTeam#90987, FTHG#90988, FTAG#90989, FTR#90990, HTHG#90991, HTAG#90992, HTR#90993, Referee#90994, HS#90995, AS#90996, HST#90997, AST#90998, HF#90999, AF#91000, HC#91001, AC#91002, HY#91003, AY#91004, HR#91005, AR#91006, B365H#91007, ... 81 more fields]
                                                +- Union false, false
                                                   :- Relation [Div#90983,Date#90984,Time#90985,HomeTeam#90986,AwayTeam#90987,FTHG#90988,FTAG#90989,FTR#90990,HTHG#90991,HTAG#90992,HTR#90993,Referee#90994,HS#90995,AS#90996,HST#90997,AST#90998,HF#90999,AF#91000,HC#91001,AC#91002,HY#91003,AY#91004,HR#91005,AR#91006,... 82 more fields] csv
                                                   :- Relation [Div#91089,Date#91090,Time#91091,HomeTeam#91092,AwayTeam#91093,FTHG#91094,FTAG#91095,FTR#91096,HTHG#91097,HTAG#91098,HTR#91099,Referee#91100,HS#91101,AS#91102,HST#91103,AST#91104,HF#91105,AF#91106,HC#91107,AC#91108,HY#91109,AY#91110,HR#91111,AR#91112,... 82 more fields] csv
                                                   :- Relation [Div#91195,Date#91196,Time#91197,HomeTeam#91198,AwayTeam#91199,FTHG#91200,FTAG#91201,FTR#91202,HTHG#91203,HTAG#91204,HTR#91205,Referee#91206,HS#91207,AS#91208,HST#91209,AST#91210,HF#91211,AF#91212,HC#91213,AC#91214,HY#91215,AY#91216,HR#91217,AR#91218,... 82 more fields] csv
                                                   +- Relation [Div#91301,Date#91302,Time#91303,HomeTeam#91304,AwayTeam#91305,FTHG#91306,FTAG#91307,FTR#91308,HTHG#91309,HTAG#91310,HTR#91311,Referee#91312,HS#91313,AS#91314,HST#91315,AST#91316,HF#91317,AF#91318,HC#91319,AC#91320,HY#91321,AY#91322,HR#91323,AR#91324,... 82 more fields] csv

In [ ]:
df.groupBy("Referee").count().orderBy("count", ascending=False).show(300)

+------------+-----+
|     Referee|count|
+------------+-----+
|    A Taylor|  113|
|    M Oliver|  108|
|   P Tierney|  103|
|    C Pawson|   89|
|   S Attwell|   85|
|    S Hooper|   81|
|    A Madley|   79|
|     D Coote|   78|
|  C Kavanagh|   73|
|     R Jones|   69|
|    P Bankes|   59|
|  A Marriner|   57|
|   D England|   56|
|  M Atkinson|   52|
|      M Dean|   51|
|      J Moss|   49|
|   J Gillett|   46|
|    J Brooks|   45|
|    K Friend|   43|
|     G Scott|   37|
| M Salisbury|   32|
|  T Robinson|   23|
|   T Bramall|   19|
|T Harrington|   19|
|   S Barrott|   15|
|     L Mason|   11|
|      D Bond|    9|
|     J Smith|    5|
|   S Allison|    3|
|    R Madley|    2|
|     R Welch|    2|
|     L Smith|    2|
|   M Donohue|    2|
|  J Gillett |    1|
|     S Singh|    1|
|      A Moss|    1|
+------------+-----+

In [ ]:
df = df.withColumn("corrected_date", expr("concat('20', substr(date, 9, 2), '-', substr(date, 4, 2), '-', substr(date, 1, 2))"))
df = df.withColumn("corrected_date_type", to_date(col("corrected_date")))
df = df.withColumn("updated_datetime", (to_timestamp(concat_ws(' ', date_format(col("corrected_date_type"), 'yyyy-MM-dd'), date_format(col("Time"), 'HH:mm:ss')))))
df = df.drop("Date", "Time", "corrected_date")
df = df.withColumnRenamed("corrected_date_type", "Date")
df = df.withColumnRenamed("updated_datetime", "Time")

In [ ]:
df.head(5)

[Row(HomeTeam='Burnley', AwayTeam='Man City', FTHG=0, FTAG=3, FTR='A', HTHG=0, HTAG=2, HTR='A', Referee='C Pawson', HS=6, AS=17, HST=1, AST=8, HF=11, AF=8, HC=6, AC=5, HY=0, AY=0, HR=1, AR=0, Date=datetime.date(2023, 8, 11), Time=datetime.datetime(2023, 8, 11, 20, 0)),
 Row(HomeTeam='Arsenal', AwayTeam="Nott'm Forest", FTHG=2, FTAG=1, FTR='H', HTHG=2, HTAG=0, HTR='H', Referee='M Oliver', HS=15, AS=6, HST=7, AST=2, HF=12, AF=12, HC=8, AC=3, HY=2, AY=2, HR=0, AR=0, Date=datetime.date(2023, 8, 12), Time=datetime.datetime(2023, 8, 12, 12, 30)),
 Row(HomeTeam='Bournemouth', AwayTeam='West Ham', FTHG=1, FTAG=1, FTR='D', HTHG=0, HTAG=0, HTR='D', Referee='P Bankes', HS=14, AS=16, HST=5, AST=3, HF=9, AF=14, HC=10, AC=4, HY=1, AY=4, HR=0, AR=0, Date=datetime.date(2023, 8, 12), Time=datetime.datetime(2023, 8, 12, 15, 0)),
 Row(HomeTeam='Brighton', AwayTeam='Luton', FTHG=4, FTAG=1, FTR='H', HTHG=1, HTAG=0, HTR='H', Referee='D Coote', HS=27, AS=9, HST=12, AST=3, HF=11, AF=12, HC=6, AC=7, HY=2, AY=2, HR=0, AR=0, Date=datetime.date(2023, 8, 12), Time=datetime.datetime(2023, 8, 12, 15, 0)),
 Row(HomeTeam='Everton', AwayTeam='Fulham', FTHG=0, FTAG=1, FTR='A', HTHG=0, HTAG=0, HTR='D', Referee='S Attwell', HS=19, AS=9, HST=9, AST=2, HF=12, AF=6, HC=10, AC=4, HY=0, AY=2, HR=0, AR=0, Date=datetime.date(2023, 8, 12), Time=datetime.datetime(2023, 8, 12, 15, 0))]